<footer class="footer-basic-centered">

    <p class="footer-company-motto">rdu-toi</p>

    <p class="footer-company-name">Camagru &copy; 2019</p>

</footer>

<script src="/js/main.js"></script>
</body>

</html>